body{
  font-size: 16px;
  color: #333;
}

a{
  color: inherit; /*브라우저가 제공하는 색상으로 바뀐다*/
  text-decoration: none;
}

header {
  position: fixed;
  /*
  overflow: hidden;
  position: fixed; 
            absolute; 
  등의 클리어 픽스를 해줘야 background가 렌더링 된다.
  */
  top:   0;
  left:  0;
  right: 0;
  background: rgba(35, 35, 35, 0.6);
  z-index: 100;
}

header h1 {
  color: white;
  float: left;
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 100;
  margin: 0;
}


header h1 a {
  display: block;
  padding: 6px 9px 7px;
}

header nav {
  float: right;
}

header nav ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

header nav li {
  float: left;
  list-style: none;
}

header li a {
  color: white;
  font-weight: 100;
  display: block;
  padding: 22px 20px 22px;
  transition: 0.3s all ease;
}

header li a:hover {
  color: lightgray;
}

.main_img {
  position: relative;
  padding-top: 44%;
  background: url("../img/main_header.png") center center no-repeat;
  background-size: cover;
}

.align_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  text-align: center;
  color: #FFF;
  z-index: 2;
}

.main_img::after {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.main_img h2 {
  margin: 0;
  width: 500px;
  font-size: 1.8em;
  font-weight: 100;
}

.main_img p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  padding-top: 20px;
}

#section_core h2 {
  margin: 0;
  padding: 10px 0;
  background-color: white;
  color: #343333;
  text-align: center;
  font-size: 1.25em;
  font-weight: 200;
}

#section_core ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#section_core li {
  width: 50%;
  height: 200px;
  float: left;
  list-style: none;
  position: relative;
  text-align: center;
}

#section_core li strong {
  font-size: 1.2em;
  font-weight: 400;
}

#section_core li p {
  font-size: 0.9em;
  padding: 10px 10px;
}

#section_core li div {
  width: 100%;
  padding-top: 50%;
  margin: 0;
  color: transparent;
  background-color: #f2f2f2;
}

#section_features h2 {
  margin: 0;
  padding: 10px 0;
  background-color: white;
  color: #343333;
  text-align: center;
  font-size: 1.25em;
  font-weight: 200;
}

#section_features ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#section_features li {
  width: 50%;
  float: left;
  list-style: none;
  position: relative;
}

#section_features li:first-child {
  background: url("") center center no-repeat;
  background-size: cover;
}

#section_features li:nth-child(2) {
  background: url("") center center no-repeat;
  background-size: cover;
}

#section_features li:nth-child(3) {
  background: url("") center center no-repeat;
  background-size: cover;
}

#section_features li:last-child {
  background: url("") center center no-repeat;
  background-size: cover;
}

#section_features li figure {
  width: 100%;
  padding-top: 100%;
  margin: 0;
  color: transparent;
  background-color: #f2f2f2;
}

#section_features li figure:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #FFF;
}

#section_features li figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

#section_features li figcaption strong {}

#section_features li figcaption p {}

footer {
  height: 200px;
  background-color: #333;
}