body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

a{
  color: inherit;
  text-decoration: none;
}

.align_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  text-align: center;
  color: #FFF;
  z-index: 2;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

/*-----------header------------*/

header {
  position: fixed;
  top:   0;
  left:  0;
  right: 0;
  background: rgba(32, 35, 44, 0.7);
  z-index: 100;
}

header a {
  padding: 10px;
  float: left;
  margin: 0;
}


header h1 a {
  display: block;
  padding: 6px 9px 7px;
}

header nav {
  float: right;
}

header nav ul {
  overflow: hidden;
  padding: 0;
  margin:  0;
}

header nav li {
  float: left;
  list-style: none;
}

header li a {
  color: white;
  font-weight: 200;
  display: block;
  padding: 22px 15px 22px;
  transition: 0.3s all ease;
}

header li a:hover {
  color: lightgray;
}

/*-----------main------------*/

.main_img {
  position: relative;
  padding-top: 40%;
  background: url("../img/main_header.png") center center no-repeat;
  background-size: 111%;
}

.main_img::after {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 35, 44, 0.3);
  z-index: 1;
}

.main_img .text_wrapper {
  width: 100%;
}
.main_img h2 {
  margin: auto;
  width: 100%;
  font-size: 1.8em;
  font-weight: 300;
}

.main_img p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.3em;
  font-weight: 100;
  padding-top: 20px;
}

/*-----------technology------------*/

.section_technology h2 {
  margin: 0;
  padding: 120px 0 60px;
  background-color: white;
  color: #343333;
  text-align: center;
  font-size: 1.9em;
  font-weight: 200;
}

.section_technology ul {
  overflow: hidden;
  margin: 0;
  padding: 10px 0 30px 0;
}

.section_technology li{
  overflow: hidden;
  width: 76%;
  padding-bottom: 10px;
  margin: auto;
}

.section_technology li .sub_text {
  width: 50%;
  margin: 20px 0;
  text-align: center;
}

.section_technology li .sub_text strong {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 2.6em;
  color: #535353;
}

.section_technology li .sub_text p {
  font-size: 1em;
  font-weight: 200;
  line-height: 1.6em;
  color: #898989;
}

.section_technology li .sub_img {
  text-align: center;
  padding-top: 60px;
}

/*-----------features------------*/

.feature_wrapper{
  width: 90%;
  margin: auto;
}

.section_features h2 {
  margin: 0;
  padding: 120px 0 60px;
  background-color: white;
  color: #343333;
  text-align: center;
  font-size: 1.9em;
  font-weight: 200;
  border-top: 1px solid #f2f2f2;
}

.section_features ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.section_features li {
  width: 50%;
  float: left;
  list-style: none;
  position: relative;
}

.section_features li figure {
  width: 100%;
  padding-top: 80%;
  margin: 0;
  color: #343333;
  background-color: rgba(0, 0, 0, 0.015);
  transition: 0.4s all ease;
}

.section_features li figure:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.section_features li figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.section_features li figcaption strong {
  display: block;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 2.2em;
  color: #535353;
}

.section_features li figcaption p {
  width: 94%;
  margin: auto;
  font-size: 0.9em;
  line-height: 1.6em;
  color: #898989;
  text-align: center;
}

.section_features li figcaption p:First-of-type {
  color: #535353;
  text-align: center;
  padding-bottom: 10px;
}

/*-----------partners------------*/

.section_partners_yfg {
  position: relative;
  background: url("../img/yfg_bg.png") center center no-repeat;
  background-size: cover;
}

.section_partners_yfg h2 {
  margin: 0;
  padding: 120px 0 60px;
  background-color: white;
  color: #343333;
  text-align: center;
  font-size: 1.9em;
  font-weight: 200;
}

.section_partners_yfg ul {
  padding: 140px 0;
}

.section_partners_yfg li {}

.section_partners_yfg li figure {
  width: 76%;
  margin: auto;
}

.section_partners_yfg li figure figcaption {
  width: 54%;
  color: white;
}

.section_partners_yfg li figure figcaption p {
  padding-top: 10px;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.6em;
}

.section_partners_yfg li figure figcaption p::before {
  content: '';
  display: block;
  margin: 10px 0 18px;
  width: 80px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.section_partners_coinone {
  position: relative;
  background: url("../img/coinone_bg.png") center center no-repeat;
  background-size: cover;
}

.section_partners_coinone h2 {
  margin: 0;
  padding: 120px 0 60px;
  background-color: white;
  color: #343333;
  text-align: center;
  font-size: 1.9em;
  font-weight: 200;
}

.section_partners_coinone ul {
  padding: 160px 0;
}

.section_partners_coinone li {}

.section_partners_coinone li figure {
  width: 76%;
  margin: auto;
}

.section_partners_coinone li figure figcaption {
  width: 54%;
  color: white;
}

.section_partners_coinone li figure figcaption p {
  padding-top: 10px;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.6em;
}

.section_partners_coinone li figure figcaption p::before {
  content: '';
  display: block;
  margin: 8px 0 18px;
  width: 80px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/*-----------footer------------*/

footer {
  height: 300px;
  background-color: #20232C;
  border-top: 10px solid #3A3E50;
}

footer img {
  padding: 40px 20px;
  opacity: 0.2;
}

footer div p {
  padding: 10px 0 0 20px;
  font-size: 1em;
  color: dimgray;
  font-weight: 200;
}

/*------------animation------------*/

.st1 {
  animation: st1 4s ease infinite;
}

@keyframes st1{
  0% {
    transform:  rotate(0deg) ;
    transform-origin: center;
  }
  50% {
    transform:  rotate(180deg) ;
    transform-origin: center;
  }
  100% {
    transform:  rotate(360deg) ;
    transform-origin: center;
  }
}

.niddle {
  animation: niddle 2.3s ease infinite;
}

@keyframes niddle{
  0% {
    transform:  rotate(90deg) ;
    transform-origin: 70% 70%;
  }
  50% {
    transform:  rotate(150deg) ;
    transform-origin: 70% 70%;
  }
  100% {
    transform:  rotate(90deg) ;
    transform-origin: 70% 70%;
  }
}

.block1 {
  animation: block1 4s ease infinite;
}

@keyframes block1 {
  0% {transform: translateY(0px);}
  
  50% {transform: translateY(12px);}
  
  75% {transform: translateY(12px);}
  
  100% {transform: translateY(0px);}
}

.block2 {
  animation: block2 4s ease infinite;
}

@keyframes block2 {
  0% {transform: translateY(0px);}
  
  50% {transform: translateY(16px);}
  
  75% {transform: translateY(23px);}
  
  100% {transform: translateY(0px);}
}

/*------------meadia query------------*/

@media (max-width: 992px) {
  /*---technology---*/  
  .section_technology li{
    overflow: hidden;
    width: 90%;
    padding-bottom: 10px;
    margin: auto;
  }
  /*---features---*/
    .feature_wrapper{
    width: 100%;
    margin: auto;
  }

  .section_features li figure {
    width: 100%;
    padding-top: 100%;
    margin: 0;
    color: #343333;
    background-color: rgba(0, 0, 0, 0.015);
    transition: 0.4s all ease;
  }

  .section_features li figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }

  .section_features li figcaption strong {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2.2em;
    color: #535353;
  }

  .section_features li figcaption p {
    font-size: 0.9em;
    line-height: 1.6em;
    color: #898989;
    text-align: center;
  }

  .section_features li figcaption p:First-of-type {
    font-size: 1em;
    color: #535353;
    text-align: center;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .main_img {
    position: relative;
    padding-top: 65%;
    background: url("../img/main_header.png") center center no-repeat;
    background-size: 154%;
  }

  .main_img::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 35, 44, 0.3);
    z-index: 1;
  }

  .main_img .text_wrapper {
    width: 100%;
  }
    /*---features---*/
  .feature_wrapper{
    width: 100%;
    margin: auto;
  }

  .section_features li {
    width: 100%;
    float: left;
    list-style: none;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .section_features li figure {
    width: 100%;
    padding-top: 70%;
    margin: 0;
    color: #343333;
    background-color: rgba(0, 0, 0, 0.015);
    transition: 0.4s all ease;
  }

  .section_features li figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }

  .section_features li figcaption p {
    font-size: 1em;
    line-height: 1.6em;
    color: #898989;
  }
  
  /*---partners---*/
  .section_partners_yfg ul {
    padding: 100px 0;
  }

  .section_partners_yfg li figure figcaption {
    width: 90%;
    margin: auto;
    color: white;
  }

  .section_partners_coinone ul {
    padding: 100px 0;
  }

  .section_partners_coinone li figure figcaption {
    width: 90%;
    margin: auto;
    color: white;
  }
}


@media (max-width: 601px) {
  
  header nav li:last-child {
    display: none;
  }
  
  .main_img h2 {
    margin: auto;
    width: 100%;
    font-size: 1.8em;
    font-weight: 300;
  }

  .main_img p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3em;
    font-weight: 100;
    padding-top: 20px;
  }

  .section_technology ul {
    overflow: hidden;
    margin: 0;
    padding: 10px 0 30px 0;
  }

  .section_technology li{
    overflow: hidden;
    width: 80%;
    padding-bottom: 10px;
    margin: auto;
  }

  .section_technology li .sub_text {
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }

  .section_technology li .sub_text strong {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2.6em;
    color: #535353;
  }

  .section_technology li .sub_text p {
    font-size: 1em;
    font-weight: 200;
    line-height: 1.6em;
    color: #898989;
  }

  .section_technology li .sub_img {
    text-align: center;
    padding-top: 60px;
  }

  .section_features li figure {
    width: 100%;
    padding-top: 100%;
    margin: 0;
    color: #343333;
    background-color: rgba(0, 0, 0, 0.015);
    transition: 0.4s all ease;
  }


}

@media (max-width: 495px) {
  header a img {
    padding-left: 20px;
    width: 40%
  }
  header nav {
    width: 97%;
  }
  
  header nav li a {
    padding: 10px 17px;
  }
  
  .main_img {
    position: relative;
    padding-top: 100%;
    background: url("../img/main_header.png") center center no-repeat;
    background-size: cover;
  }

  .main_img::after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 35, 44, 0.3);
    z-index: 1;
  }

  .main_img .text_wrapper {
    width: 100%;
  }
  .main_img h2 {
    margin: auto;
    width: 100%;
    font-size: 1.3em;
    font-weight: 300;
  }

  .main_img p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1em;
    font-weight: 100;
    padding-top: 20px;
  }
  .section_features li figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }
}

@media (max-width: 360px) {
  
  header a img{
    padding-left: 8px;
    width: 40%;
  }
  header nav {
    width: 100%;
  }
  
  header nav li a {
    padding: 10px;
    font-size: 0.9em;
  }
  
  .main_img .text_wrapper {
    width: 100%;
  }
  .main_img h2 {
    margin: auto;
    width: 90%;
    font-size: 1.3em;
    font-weight: 300;
  }
}

@media (max-width: 340px) {
  header nav li a {
    padding: 11px;
    font-size: 0.95em;
  }
}